<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.mypackage.MyClass.ExtentListeners"></listener>
<!-- <listener class-name="TestNG.Transform"></listener> -->
</listeners>
  <test thread-count="5" name="Test">
    <classes>
         <class name="com.mypackage.MyClass.Common">
      <methods>
        <include name="launchBrowser" />
        </methods>
      </class>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->